

  <form class="form-class" #frameParametersForm="ngForm" autocomplete="off" (ngSubmit)="sendClassroom()">
    <div class="form-group">
      <label>ID del salón *</label>
      <input type="text" class="form-control" required name="ID" [(ngModel)]="classroomInputForm.ID">
    </div>
    <div class="form-group">
      <label>Horario inicio *</label>
        <input type="text" class="form-control" required name="horarioInicio" [(ngModel)]="classroomInputForm.horarioInicio">
    </div>
    <div class="form-group">
      <label>Horario final *</label>
      <input type="text" class="form-control" required name="horarioFin" [(ngModel)]="classroomInputForm.horarioFin">
    </div>
    <div class="form-group">
      <label>Correo *</label>
      <input type="text" class="form-control" required name="correo" [(ngModel)]="classroomInputForm.correo">
    </div>
    <div class="form-group">
      <label>Motivo *</label>
      <input type="text" class="form-control" required name="motivo" [(ngModel)]="classroomInputForm.motivo">
    </div>
    <div class="button-class">
      <button type="submit" class="btn btn-primary">Register classroom</button>
    </div>
  </form>